<div ng-show="confVisible">
  <form action="dash-player.html" id="player-conf">
    <input id="autoplay" type="checkbox" name="autoplay" checked/>
    <label for="autoplay">Autoplay</label>
    <label for="adapt">Adaptive</label>
    <select id="adapt" name="adapt">
      <option value="auto">Automatic</option>
      <option value="no">Disabled</option>
      <option value="random">Random</option>
    </select>
    <label for="flavor">CDM</label>
    <select id="flavor" name="flavor">
      <option value="">auto</option>
      <option value="clearkey">Clear Key</option>
      <option value="playready">PlayReady</option>
      <option value="widevine">Widevine</option>
    </select>
  </form>

  <div id="dashcontrols">
    <form id="seekform">
      <label for="time">Time:</label>
      <input type="text" size=8 name="time" placeholder="seconds"/>
      <input type="button" id="seekbtn" name="seek" value="Seek"/>
    </form>
    <form id="repform">Representations:</form>
  </div>
</div>

<video id="v" controls width="100%" height="100%"></video>

<div id="bufbar" class="progressbox">
  <div class="sizelbl"></div>
  <div class="posbar"></div>
</div>

<div class="alert alert-danger" ng-show="error">
  <strong>Error:</strong> {{error}}
</div>