<div data-flumotion-layout=horizontal style="height: 100%">
    <div data-flumotion-layout=overlay>
        <div data-flumotion-player data-fmt-skin=cbnews_v1 data-fmt-control-bar-tooltips-enabled=true data-fmt-flex=1></div>
        <div data-flumotion-social data-fmt-skin=cbnews_v1 data-fmt-info-visible="true" data-fmt-info-name-visible="true"
            data-fmt-info-description-visible="false" data-fmt-info-extra-fields-visible="true" data-fmt-info-likes-visible="true"
            data-fmt-info-logo-visible="true" data-fmt-info-collapse-visible="true" data-fmt-collapsed="true" data-fmt-height-collapsed="30px"
            data-fmt-height-expanded="145px" data-fmt-logo-click-through="http://www.culturepub.fr" data-fmt-social-sharing-visible="true"
            data-fmt-social-sharing-buttons="facebook,twitter,google" data-fmt-embed-code-visible="true"
            data-fmt-sharing-url="http://www.culturepub.fr/videos/[[pod.title|slug]]-[[((pod.extra_fields|filter:'marque')[0].value + ' ' + (pod.extra_fields|filter:'produit')[0].value)|slug]]"></div>
    </div>
    <div data-flumotion-playlist data-fmt-skin=cbnews_v1 data-fmt-duration-visible=false data-fmt-likes-visible=false data-fmt-num-columns=2
        data-fmt-flex=340px></div>
</div>